#MDME {margin-left: 0px;}

#MDME ul
{margin:0px;
list-style-type: none;
padding:0 0px;
float:left;
}

#MDME li
{
width:auto;
border-bottom:1px solid #a49e8c;
width:100%;
float:left;
padding:6px 0px;
list-style:none;
font:normal 16px Arial, Helvetica, sans-serif;
color:#000000;
}
#MDME li span
{
padding:0px 12px;
}

#MDME li li{background:none;
	
	border-bottom:none;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#000000;
	padding:0px 0px;
	margin:0 0px;
	width:100%;}

#MDME ul li ul
{width:100%;
margin-top:5px;
padding: 0px;
}
#MDME ul li a
{display:block;
text-decoration: none;
font:normal 16px Arial, Helvetica, sans-serif;
color:#000000;
}

#MDME ul li a:hover
{display:block;
text-decoration: none;
font:normal 16px Arial, Helvetica, sans-serif;
color:#000000;
}

#MDME ul li ul li a
{display:block;
text-decoration: none;
font:normal 14px Arial, Helvetica, sans-serif;
color:#000000;
padding:7px 0px;
margin:0 0px;
border-top:1px solid #c3beb1;
}
#MDME ul li ul li a span
{
	margin:0 12px;
}
#MDME ul li ul li a:hover
{display:block;
text-decoration: none;
font:normal 14px Arial, Helvetica, sans-serif;
	color:#000000;
}








#MDME1 {margin-left: 0px;}

#MDME1 ul
{margin:0px;
list-style-type: none;
padding:0 0px;
float:left;
}

#MDME1 li
{
width:auto;
border-bottom:1px solid #e7e7e7;
width:100%;
float:left;
padding:10px 0px 0 0;
list-style:none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}
#MDME1 li span
{
padding:7px 0 7px 48px;
margin-bottom:10px;
float:left;
}
#MDME1 li span.icon1
{
	background:url(../images/mob_icon1.png) left center no-repeat;
}
#MDME1 li span.icon2
{
	background:url(../images/mob_icon2.png) left center no-repeat;
}
#MDME1 li span.icon3
{
	background:url(../images/mob_icon3.png) left center no-repeat;
}
#MDME1 li span.icon4
{
	background:url(../images/mob_icon4.png) left center no-repeat;
}
#MDME1 li span.icon5
{
	background:url(../images/mob_icon5.png) left center no-repeat;
}
#MDME1 li span.icon6
{
	background:url(../images/mob_icon6.png) left center no-repeat;
}
#MDME1 li span.icon7
{
	background:url(../images/mob_icon7.png) left center no-repeat;
}
#MDME1 li span.icon8
{
	background:url(../images/mob_icon8.png) left center no-repeat;
}
#MDME1 li span.icon9
{
	background:url(../images/mob_icon9.png) left center no-repeat;
}
#MDME1 li span.icon10
{
	background:url(../images/mob_icon10.png) left center no-repeat;
}
#MDME1 li span.icon11
{
	background:url(../images/mob_icon11.png) left center no-repeat;
}
#MDME1 li span.icon12
{
	background:url(../images/mob_icon12.png) left center no-repeat;
}
#MDME1 li span.icon13
{
	background:url(../images/mob_icon13.png) left center no-repeat;
}
#MDME1 li span.icon14
{
	background:url(../images/mob_icon14.png) left center no-repeat;
}
#MDME1 li span.icon472
{
	background:url(../images/1-gst.png) left center no-repeat;
}

#MDME1 li li{background:url(../images/grayArrow_mob.png) right center no-repeat #ffffff;
	
	border-top:1px solid #17479e;
	font:normal 18px Arial, Helvetica, sans-serif;
	color:#17479e;
	padding:10px 0px;
	margin:0 0px;
	width:100%;}

#MDME1 ul li ul
{width:100%;
margin-top:5px;
padding: 0px;
}
#MDME1 ul li a
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}

#MDME1 ul li a:hover
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}

#MDME1 ul li ul li a
{display:inline-block;
width:100%;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#17479e;
padding:0px 0px;
margin:0 0px;
border-top:0px solid #ebdba7;
}
#MDME1 ul li ul li a span
{
	margin:0 0 0 12px;
	padding:0 0px 0 35px;
}
#MDME1 ul li ul li a:hover
{display:inline-block;
width:100%;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#17479e;
padding:0px 0px;
margin:0 0px;
border-top:0px solid #ebdba7;
}









#MDME2 {margin-left: 0px;}

#MDME2 ul
{margin:0px;
list-style-type: none;
padding:0 0px;
float:left;
}

#MDME2 li
{
width:auto;
border-bottom:1px solid #e7e7e7;
width:100%;
float:left;
padding:10px 0px 0 0;
list-style:none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}
#MDME2 li span
{
padding:7px 0 7px 48px;
margin-bottom:10px;
float:left;
}
#MDME2 li span.icon1
{
	background:url(../images/mob_icon1.png) left center no-repeat;
}
#MDME2 li span.icon2
{
	background:url(../images/mob_icon2.png) left center no-repeat;
}
#MDME2 li span.icon3
{
	background:url(../images/mob_icon3.png) left center no-repeat;
}
#MDME2 li span.icon4
{
	background:url(../images/mob_icon4.png) left center no-repeat;
}
#MDME2 li span.icon5
{
	background:url(../images/mob_icon5.png) left center no-repeat;
}
#MDME2 li span.icon6
{
	background:url(../images/mob_icon6.png) left center no-repeat;
}
#MDME2 li span.icon7
{
	background:url(../images/mob_icon7.png) left center no-repeat;
}
#MDME2 li span.icon8
{
	background:url(../images/mob_icon8.png) left center no-repeat;
}
#MDME2 li span.icon9
{
	background:url(../images/mob_icon9.png) left center no-repeat;
}
#MDME2 li span.icon10
{
	background:url(../images/mob_icon10.png) left center no-repeat;
}
#MDME2 li span.icon11
{
	background:url(../images/mob_icon11.png) left center no-repeat;
}
#MDME2 li span.icon12
{
	background:url(../images/mob_icon12.png) left center no-repeat;
}
#MDME2 li span.icon13
{
	background:url(../images/mob_icon13.png) left center no-repeat;
}
#MDME2 li span.icon14
{
	background:url(../images/mob_icon14.png) left center no-repeat;
}
#MDME2 li span.icon472
{
	background:url(../images/1-gst.png) left center no-repeat;
}
#MDME2 li li{background:url(../images/grayArrow_mob.png) right center no-repeat #ffffff;
	
	border-top:1px solid #17479e;
	font:normal 18px Arial, Helvetica, sans-serif;
	color:#17479e;
	padding:10px 0px;
	margin:0 0px;
	width:100%;}

#MDME2 ul li ul
{width:100%;
margin-top:5px;
padding: 0px;
}
#MDME2 ul li a
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}

#MDME2 ul li a:hover
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#ffffff;
}

#MDME2 ul li ul li a
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#17479e;
padding:0px 0px;
margin:0 0px;
border-top:0px solid #ebdba7;
}
#MDME2 ul li ul li a span
{
	margin:0 0 0 12px;
	padding:0 0px 0 35px;
}
#MDME2 ul li ul li a:hover
{display:block;
text-decoration: none;
font:normal 18px Arial, Helvetica, sans-serif;
color:#17479e;
padding:0px 0px;
margin:0 0px;
border-top:0px solid #ebdba7;
}